/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  min-height: 100vh;
  background-color: #e5e5e5;
  border: 10px solid #1d1e4c;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 100px;
}

.image-container {
  border-radius: 45%;
  overflow: hidden;
}

.top-section h1 {
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
  margin-top: -7rem;
}

.top-section h4 {
  text-align: end;
  font-size: 30px;
}

.about-section {
  margin-top: 2rem;
}

.about-section h2 {
  margin-bottom: 1rem;
  font-size: 60px;
}

.about-section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
}

.biography-section {
  margin-top: 2rem;
}

.biography-section h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.biography-section ul {
  margin-left: 20px;
}

.biography-section ul li {
  margin-bottom: 10px;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 400;
}

footer {
  margin: 3rem 0 1rem 0;
  text-align: right;
}

footer p {
  font-weight: bold;
}

footer a {
  color: blue;
  text-decoration: none;
}

/* Media query for max-width: 900px */
@media (max-width: 900px) {
  .content {
    width: 700px;
  }

  .top-section {
    margin-top: 50px;
  }

  .top-section h1 {
    font-size: 27px;
    margin-top: 1rem;
  }

  .top-section h4 {
    font-size: 18px;
  }

  .about-section h2 {
    font-size: 40px;
  }

  .about-section p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
  }

  .biography-section h3 {
    font-size: 1.5rem;
  }

  .biography-section ul li {
    font-size: 18px;
  }

  footer {
    text-align: center;
    font-size: 19px;
  }
}

/* Media query for max-width: 500px */
@media (max-width: 500px) {
  .content {
    width: 300px;
  }

  .top-section {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .top-section h1 {
    font-size: 25px;
  }

  .top-section h4 {
    font-size: 14px;
  }

  .about-section h2 {
    font-size: 25px;
  }

  .about-section p {
    font-size: 16px;
  }

  .biography-section h3 {
    font-size: 1.3rem;
  }

  .biography-section ul li {
    font-size: 15px;
  }

  footer {
    text-align: center;
    font-size: 15px;
  }
}
