* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #052124;
  color: #f2d282;
  overflow: hidden;
}
h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #eaeaea;
  text-align: center;
}
.year {
  font-size: 5rem;
  font-weight: bold;
  margin: 2rem;
}
.countdown {
  display: flex;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}
.countdown div {
  margin: 0 0.8rem;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: -25px;
  position: relative;
  text-align: center;
  width: 100px;
}
.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 0.35em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  height: 35px;
}
.countdown #date::before {
  content: "Days";
}
.countdown #hour::before {
  content: "Hours";
}
.countdown #minutes::before {
  content: "Minutes";
}
.countdown #seconds::before {
  content: "Seconds";
}
